/* App.css */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Movie-container {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.Movie-container:hover {
  transform: scale(1.1);
}

.Movie-image {
  width: 200px; /* Adjust the size as needed */
  height: 300px; /* Adjust the size as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Movie-t.background-paper {
  background-color: #f5f5f5; /* Set your desired background color */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}itle {
  margin-top: 10px;
}
